
.modal{
    position: absolute;
    top: 16%;
    left: 30%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 700px;
    z-index: 1;
  
}

.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    height: 400px;
    width: 400px; 
    
}

